        .form-container {
            display: flex;
            justify-content: center;
            background: url('src/assets/brand_symbol_transparent.png') no-repeat center;
            /* background: url('/src/assets/brand_symbol_transparent.png') no-repeat center; */
            /* background: #1b427d; */
            background-size: cover;
            position: relative;
            min-height: 400px;
            padding: 24px;
            opacity: 0.1;
            width: 50%;
            height: 641px;
        }
        
        .my-form {
            align-self: auto;
            padding: 16px;
            position: absolute;
            left: 367px;
            top: 46px;
            color: white;
            opacity: 1;
        }
        
        .form-header {
            text-align: center;
            padding: 0;
            margin-top: 0;
            font-size: 2em;
        }
        /* .form-group {
            margin-bottom: 1rem;
        } */
        
        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            /* background-color: #f1f1f1;
            background-clip: padding-box; */
            border: 1px solid #ced4da;
            /* border-radius: .25rem; */
        }
        
        .form-text {
            display: block;
            margin-top: .25rem;
            font-size: 80%;
            font-weight: 400;
        }
        
        button {
            background-color: white;
            height: 70px;
            width: 200px;
            color: #1b427d;
            font-weight: 100;
            font-size: 30px;
            align-self: center;
            margin-left: 180px;
            margin-left: 6px;
        }
        
        label {
            position: absolute;
            margin-top: -8px;
            background: #1b427d;
            color: white;
            font-family: arial;
            font-weight: 100;
            z-index: 1000;
            font-size: 17px;
            padding: 0px 5px 0px 5px;
            padding-top: 4‒;
            padding-left: 0px;
            left: 270px;
            margin-left: 24‒;
            padding-left: -6px;
        }
        
        .form-group input[type="password"] {
            border-color: #f1f1f1;
            align-items: flex-end;
            background: rgb(0, 0, 0);
            /* Fallback color */
            background: rgba(0, 0, 0, 0);
            /* Black background with 0.5 opacity */
            width: 600px;
            height: 80px;
            box-shadow: none;
            color: white;
        }
        /* ::placeholder {
           
            color: blue;
        } */
        
        .form-group input[type="text"] {
            border-color: #f1f1f1;
            background: rgb(0, 0, 0);
            color: white;
            background: rgba(0, 0, 0, 0);
            align-items: flex-end;
            width: 600px;
            height: 80px;
            box-shadow: none;
        }
        
        .form-group input[type="Username"] {
            border-color: #f1f1f1;
            background: rgb(0, 0, 0);
            color: white;
            background: rgba(0, 0, 0, 0);
            align-items: flex-end;
            width: 600px;
            height: 80px;
            box-shadow: none;
        }
        
        .container {
            display: block;
            position: relative;
            padding-left: 31px;
            margin-bottom: 0px;
            cursor: pointer;
            /* font-size: 22px; */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background-color: red;
        }
        /* Create a custom checkbox */
        
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #1b427d;
            border: solid 1px;
        }
        /* When the checkbox is checked, add a blue background */
        
        .container input:checked~.checkmark {
            background-color: #2196F3;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        
        .container input:checked~.checkmark:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }