 .btn1 {
     border-color: white;
     background: rgb(0, 0, 0);
     color: white;
     background: rgba(0, 0, 0, 0);
     align-items: flex-end;
     width: 600px;
     height: 80px;
 }
 
 button {
     border-color: #f1f1f1;
     /* background: rgb(0, 0, 0);
    color: white;
    background: rgba(0, 0, 0, 0); */
     align-items: flex-end;
     width: 600px;
     height: 80px;
     opacity: 100%;
     font-size: 38px;
     color: #1b427d;
 }
 
 .form-container {
     display: flex;
     justify-content: center;
     background: url('src/assets/brand_symbol_transparent.png') no-repeat center;
     /* background: url('/src/assets/brand_symbol_transparent.png') no-repeat center; */
     /* background: #1b427d; */
     background-size: cover;
     position: relative;
     padding: 24px;
     opacity: 0.1;
     width: 50%;
     height: 100vh;
     left: 325px;
 }
 /* .my-form {
    align-self: auto;
    padding: 16px;
    position: absolute;
    left: 367px;
    top: 46px;
    color: white;
    opacity: 1;
 */
 /* ............. */
 
 .login-name {
     color: #ffffff;
     text-align: center;
     margin-bottom: 65px;
     font-size: xx-large;
     margin-top: inherit;
     font-weight: bold;
     font-size: 400%;
 }
 
 .login {
     /* position: absolute;
    top: 18%;
    left: 40%;
    background-size: cover;
    z-index: 2;
    margin-left: 0px; */
     position: absolute;
     top: 29%;
     left: 29%;
     background-size: cover;
     z-index: 2;
     margin-left: 0px;
 }