<div class="test" align="center">

    <div class="form-container" style="background-color: #1b427d ;">
    </div>
    <form class="my-form" align="center">
        <h2 class="form-header" style="font-size: 60px; margin-top: 90px">Sign in</h2><br><br>



        <div class="form-group">
            <button type="submit" style="margin-top: 21px; border-radius: 0px">
                Continue with facebook
                </button>
        </div><br><br>

        <div class="form-group">
            <button class="btn1" type="submit" style="    margin-top: 10px; border-radius: 0px">
                I’ll use email
                </button>
        </div>
        <div class="form-group" align="center">




            <h4>Already have an account?<a> Sign in</a></h4>

        </div>










    </form>
</div>