/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

body {
    background-color: #1b427d;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> 3de012cf15fe7513a5eb8c1cd3982481cb777357
