<div class="test" align="center">

    <div class="form-container" style="background-color: #1b427d ;">
    </div>
    <form class="my-form" align="center">
        <h2 class="form-header" style="font-size: 60px; margin-top: 90px">Log in!</h2><br><br>


        <div class="form-group">
            <label for="examplePassword">Email address</label>
            <input type="text" style="border-radius: 0px;" class="form-control" placeholder="Email address" required=""><br><br>
        </div>

        <div class="form-group" style=" height: 80px;">
            <label for="examplePassword">Password</label>
            <input type="password" style="border-radius: 0px;" class="form-control" placeholder="Password" required=""><br><br><br><br><br><br>
        </div>

        <div class="form-group" style="vertical-align:text-top; font-size:  19px;">

            <div class="form-group" style="vertical-align:text-top;font-size:  19px;border-left-width: 26px;margin-left: -270px;margin-top: 29px;">
                <label class="container" style="float: left">Remember me
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>





                <label class="container" style="float:right;left: 2px;">Forgot Password?
                  
                  <span class="checmark"></span>
                </label>

            </div>

        </div>





        <button type="submit" style="margin-top: 152px;">
            Log In
            </button>
    </form>
</div>