.form-container {
    display: flex;
    justify-content: center;
    background: url('src/assets/brand_symbol_transparent.png') no-repeat center;
    /* background: url('/src/assets/brand_symbol_transparent.png') no-repeat center; */
    /* background: #1b427d; */
    background-size: cover;
    position: relative;
    padding: 24px;
    opacity: 0.1;
    width: 50%;
    height: 100vh;
    left: 342px;
}


/* .my-form {
    align-self: auto;
    padding: 16px;
    position: absolute;
    left: 367px;
    top: 46px;
    color: white;
    opacity: 1;
 */


/* ............. */

.login-name {
    color: #ffffff;
    text-align: center;
    margin-bottom: 65px;
    font-size: xx-large;
    margin-top: inherit;
    font-weight: bold;
    font-size: 367%;
}

.login-legend1 {
    text-align: center;
    color: #ffffff;
}

.login-fieldset1 {
    border: 1px solid #ffffff;
    width: 590px;
    height: 70px;
    font-size: 20px;
}

.login {
    /* position: absolute;
    top: 18%;
    left: 40%;
    background-size: cover;
    z-index: 2;
    margin-left: 0px; */
    position: absolute;
    top: 29%;
    left: 29%;
    background-size: cover;
    z-index: 2;
    margin-left: 0px;
}


/*  */


/* .form-header {
    text-align: center;
    padding: 0;
    margin-top: 0;
    font-size: 2em;
} */


/* .form-group {
    margin-bottom: 1rem;
} */


/* .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 1px solid #ced4da;

} */

.form-text {
    display: block;
    margin-top: .25rem;
    font-size: 80%;
    font-weight: 400;
}


/* button {
    height: 70px;
    width: 200px;
    color: #1b427d;
    font-weight: 100;
    font-size: 30px;
    align-self: center;
    position: relative;
    bottom: 3em;
} */


/*  */

label {
    position: absolute;
    margin-top: -8px;
    color: white;
    font-family: arial;
    font-weight: 100;
    z-index: 1000;
    font-size: 17px;
    padding: 0px 5px 0px 5px;
    padding-top: 4‒;
    padding-left: 0px;
    left: 270px;
    margin-left: 24‒;
    padding-left: -6px;
}


/*
.form-group input[type="password"] {
    border-color: #f1f1f1;
    align-items: flex-end;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    width: 600px;
    height: 80px;
    box-shadow: none;
    color: white;
} */


/* ::placeholder {

    color: blue;
} */

.form-group input[type="text"] {
    border-color: #f1f1f1;
    background: rgb(0, 0, 0);
    color: white;
    background: rgba(0, 0, 0, 0);
    align-items: flex-end;
    width: 600px;
    height: 80px;
    box-shadow: none;
}


/* ............... */

.login input[type=text],
input[type=password] {
    width: 92%;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    content: none;
}

.Remember-line {
    margin-top: 8px;
    color: white;
    vertical-align: text-top;
    font-size: 19px;
    border-left-width: 26px;
    margin-left: -270px;
    margin-top: 29px;
}

.Forgot {
    float: right;
    position: relative;
}

.Forgot a {
    color: #ffffff;
    text-decoration: none;
}


/* .mav-button--large{
    width: 101px;
    height: 60px;
    color: #1b427d;
    font-size: 24px;
    letter-spacing: 0.5px;

  }
  .mav-button{
    text-align: center;
    margin-top: 33px;

  } */


/* ////////// */

.container {
    position: initial;
    margin-bottom: 0px;
    cursor: pointer;
    float: left;
}


/* span.checkmark{
  position: absolute;
} */


/* Hide the browser's default checkbox */


/* Create a custom checkbox */


/*
.checkmark {
  position: initial;
  top: 5;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #1b427d;
  border: solid 1px; */


/* position: relative;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background: #a8560b;
    border: solid 1px; */


/* }
input[type="checkbox"]{
  position: absolute;
  display: flex;
  height: 30px;
  width: 25px;
  left: -3px;
  top: -5px;
}
span.checkmark:active  {
  display: none;
}
span.checkmark:focus  {
  display: block;
}
span.checkmark:active #HiddenText {
  display: block;
} */


/* When the checkbox is checked, add a blue background */


/* / */


/* Create the checkmark/indicator (hidden when not checked) */


/*
input:after {
    content: "";
    position: absolute;
    display: none;
} */


/* Show the checkmark when checked */


/*
.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */


/* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */


/* Create a custom checkbox */

.checkmark {
    position: initial;
    top: 5;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #1b427d;
    border: solid 1px;
    /* position: relative;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background: #a8560b;
    border: solid 1px; */
}

input[type="checkbox"] {
    position: absolute;
    display: flex;
    height: 30px;
    width: 25px;
    left: -3px;
    top: -5px;
}

span.checkmark:active {
    display: none;
}

span.checkmark:focus {
    display: block;
}

span.checkmark:active #HiddenText {
    display: block;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #1a8fee;
}


/* Create the checkmark/indicator (hidden when not checked) */

input:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.checkmark {
    position: absolute;
}

.mav-button {
    position: relative;
    width: 150px;
    top: 101px;
    left: 175px;
    height: 52px;
    background-color: #ffffff;
    text-align: center;
    font-size: xx-large;
    margin-top: inherit;
    font-weight: bold;
}