<div class="col-lg-12 col-md-12 col-sm-12 justify-content-center" style="background-color:  #1b427d; min-height: 1000px;min-width: 800px;">

    <div class="form-container"> </div>


    <form class="login justify-content-center">
        <!-- <h2 class="form-header" style="font-size: 60px; margin-top: 90px">Log in!</h2><br><br> -->



        <div class="login-name">Log in!</div>


        <fieldset class="login-fieldset1">
            <legend class="login-legend1">Email Address</legend>
            <input type="text" id="fname" placeholder="abcd@gmail.com" name="email" required>
        </fieldset>
        <br><br>

        <!-- <div class="form-group" style=" height: 80px;">
          <label for="examplePassword">Password</label>
          <input type="password" style="border-radius: 0px;" class="form-control" placeholder="Password" required=""><br><br><br><br><br><br>
      </div> -->

        <fieldset class="login-fieldset1">
            <legend legend class="login-legend1">Password </legend>
            <input type="password" id="fname" placeholder="Enter Password" name="pass" required>
        </fieldset>



        <div class="form-group" style="vertical-align:text-top;font-size:
      19px;border-left-width: 26px;margin-left:
      -270px;margin-top: 29px;">
            <label class="container" style="float: left; position: relative;">
      <input type="checkbox" id="HiddenText">
      <span class="checkmark"></span>
      </label>
            <label class="container" style="float: left;position: relative;left: 308px;top: 4px;">Remember me 
        
        </label>



            <label class="container" style="float: right;position: relative;left: 8px;"> Forgot Password?
       
        </label>


        </div>
        <!-- <div class="Remember-line" >
    <label for="Remember"class="container" name="Remember">
      <input type="checkbox"  name="Remember"
       value="Remember me">Remember me
    </label>

      <div class="Forgot"><a href="#" >Forgot Password?</a></div>
      <div class="mav-button">
        <button type="submit"
        id="fname"  name="submit" value="Log in" class="mav-button--large">Log In</button></div>
    </div> -->

        <div class="mav-button">
            Log In
        </div>
    </form>
</div>